---
import { Image } from "astro:assets";
import fi1 from "../assets/features/feature-1-icon.png";
import fi2 from "../assets/features/feature-2-icon.png";
import fi3 from "../assets/features/feature-3-icon.png";
import fi4 from "../assets/features/feature-4-icon.png";
import fi5 from "../assets/features/feature-5-icon.png";
import fi6 from "../assets/features/feature-6-icon.png";
import fi7 from "../assets/features/feature-7-icon.png";
import fi8 from "../assets/features/feature-8-icon.png";
import fi9 from "../assets/features/feature-9-icon.png";
---

<div class="container pb-24 pt-16 text-stromboli-900">
  <h2 class="text-4xl font-extrabold md:text-5xl">
    Я стану Вашим проводником в счастливую жизнь, если:
  </h2>
  <div class="mt-12 grid gap-16 md:mt-16">
    <div class="grid grid-cols-1 items-start gap-16 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi1} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold"
            >Вы искали ответы у различных специалистов</span
          >, прочитали множество книг, посетили кучу тренингов и семинаров, но
          так и не нашли изменений в своей жизни.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi2} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold">Вы ищете практические знания</span> не только в
          области психологии и физиологии, но и хотите освоить методики нетрадиционной
          медицины, доступные ранее только избранным.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi3} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold"
            >Вы испытываете психоэмоциональные проблемы</span
          > и физические недомогания, которые стоят на пути к вашему прогрессу.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi4} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold">Вы чувствуете себя потерянным,</span> задаваясь
          вопросами о смысле жизни, своём предназначении и способах быть полезным
          себе и другим.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi5} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold"
            >Вы стремитесь раз и навсегда взять жизнь в свои руки</span
          > и стать со-творцом своего существования.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi6} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold">Вы мечтаете о богатстве и здоровье,</span>
          вместо того чтобы оставаться в нищете и болезнях.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi7} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold">Вы готовы к глубокому самопознанию</span> и хотите
          разгадать тайны своего подсознания, чтобы жить более осознанной и наполненной
          жизнью.
        </p>
      </div>
      <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
        <Image src={fi8} alt="" width={96} height={96} aria-hidden />
        <p class="text-lg">
          <span class="font-bold">Вы ищете наставника,</span> который поможет раскрыть
          ваш внутренний потенциал и научит использовать его для достижения личного
          счастья и успеха.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-start gap-4 lg:flex-row lg:gap-8">
      <Image src={fi9} alt="" width={96} height={96} aria-hidden />
      <p class="text-lg">
        <span class="font-bold">Вы готовы к трансформации</span> и желаете пройти
        путь от перезагрузки ваших убеждений к полноценной и счастливой жизни, благодаря
        уникальным знаниям и практикам, предлагаемым в моём Центре трансформационной
        психологии и психотерапии личностного роста ПарДесС. 🚀
      </p>
    </div>
  </div>
</div>
